
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif
}

html {
  scroll-behavior: smooth;
}

.main-content{
  min-height: 70vh;
}

.menu-container {
  position: relative;
  margin: 20px;
  background: white;
  color: black;
  padding: 20px;
  z-index: 1;
  -webkit-user-select: none;
  box-sizing: border-box;
  font-size: 20px;
}

.nav-div{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}

.nav-items{
  display: flex;
  gap: 40px;
  border-bottom: 3px solid white;
}

.nav-item{
  cursor: pointer;
  padding: 5px 20px;
  border-bottom: 3px solid white;
  color: black;
  text-decoration: none;
}


.nav-item-no-underline{
  padding: 5px 20px;
  border-bottom: 3px solid white;
  color: black;
  text-decoration: none;
  z-index: 5;
}


.nav-item:hover{
 border-bottom: 3px solid green;
}

.green2{
  color: rgb(5, 83, 5);
}

.nav-button{
  visibility: hidden;
}

.nav-title-responsive{
  visibility: hidden;
  display: none;
}

.logo{
  cursor: pointer;
}

/* Hero Section */

.hero{
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin-top: 40px;
  margin-bottom: 40px;

}

.hero-img{
  max-width: 700px;
  border-radius: 12px;
}

.hero-text{
  padding: 20px;
  margin: 10px;
}

.hero-h1{
  font-size: 62px;
  margin-bottom: 24px;
}

.green{
  color: rgba(70, 117, 0, 0.495);
}

.hero-h2{
  font-size: 36px;
  border-bottom: 4px solid rgb(5, 83, 5);
}

.btn{
  padding: 10px 20px;
  background-color: rgb(5, 83,5);
  border: none;
  color: white;
  margin-top: 20px;
  align-self: right;
  border-radius: 6px;
  font-size: 18px;
}

/* Why Us */

.whyus{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-bottom: 30px;
}

.whyusItems{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.whyusItem{
  width: 360px;
  border-radius:5px;
  padding: 10px 20px;
  letter-spacing: 0.6px;
  line-height: 1.4;
}

.whyusH2{
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 14px;
}

.whyusP2{
  color: rgb(96, 95, 95);
}

.h1{
  font-size: 38px;
  border-bottom: 4px solid rgb(5, 83, 5);
  padding: 5px 20px;
}

/* Image Slider */

.image-slider{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
  flex-direction: column;

}

.image-slider h1{
  margin: 28px;
}

/* FAQ  */

.faqs-secondary {
  line-height: 1.625;
  max-width: 1280px;
  margin: 3rem auto 0 auto;
  padding: 0 1rem 0 1rem;

}
@media (min-width: 1024px) {

}
.faqs-secondary .faqs-header {
  text-align: center;
}
.faqs-secondary .faqs-header > * + * {
  margin-top: 0.75rem;
}
.faqs-secondary .faqs-header h1 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  color: #1f2937;
  font-weight: 600;
}
.faqs-secondary .faqs-header p {
  max-width: 32rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #4b5563;
  margin-left: auto;
  margin-right: auto;
}
.faqs-secondary .faqs-container {
  margin: 3.5rem auto 0 auto;
  max-width: 42rem;
}
.faqs-secondary .faqs-container .faqs-card {
  overflow: hidden;
  margin-top: 1.25rem;
  border-bottom: solid 1px #e5e7eb;
}
.faqs-secondary .faqs-container .faqs-card > * + * {
  margin-top: 0.75rem;
}
.faqs-secondary .faqs-container .faqs-card h4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  color: #374151;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 500;
  padding-bottom: 1.25rem;
}
.faqs-secondary .faqs-container .faqs-card h4 svg {
  color: #6b7280;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: 0.5rem;
}
.faqs-secondary .faqs-container .faqs-card .answer-container {
  transition-duration: 300ms;
}
.faqs-secondary .faqs-container .faqs-card .answer-container p {
  color: #6b7280;
}

.demo-bg {
  z-index: -1;
  opacity: 0.3;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 0;
  width: auto;
  height: auto;
}

/* Swiper CSS */
.swiper-container{
  width: 1200px;
  margin: 60px auto;
}

.swiper-slide img{
  width: 100%;
  height: 600px;
  object-fit: cover;

}

.swiper-button-next,
.swiper-button-prev{
  color: white !important;
}

/* Footer */

#footer{  
 
  background: rgb(8, 133, 8);
  height: auto;
  width: 100%;
  padding-top: 40px;
  color: rgb(255, 255, 255);
  margin-top: 40px;
}

.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3{
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #ffffff;
}

.footer-item{
  cursor: pointer;
}

.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0 3rem 0;
}

.socials li{
  margin: 0 10px;
}

.socials a{
  text-decoration: none;
  color: #fff;
  padding: 5px;
}

.socials a p{
  font-size: 1.1rem;
  width: 20px;
  transition: color .4s ease;
}

.socials a:hover i{
  color: aqua;
}

.footer-bottom{
  background:rgb(5, 83, 5);
  width: 100%;
  padding: 20px;
padding-bottom: 40px;
  text-align: center;
  color: white;
}

.footer-bottom p{
float: left;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}

.footer-menu{
float: right;

}

.footer-menu ul{
display: flex;
}

.footer-menu ul p{
padding-right: 16px;
display: block;
}

/* Contact Section*/

.contact-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin: 10px auto;
  height: 200px;
  width: 470px;
  border: 3px dotted rgb(8, 133, 8);
  border-radius: 20px;
}

/* Responsive CSS */


@media(max-width:1440px){
  .demo-bg {
    width:100%;
    margin-top: 200px;
  }
  
}

@media(max-width:1240px){

  /* Hero */

  .hero{
    margin: 0 auto;
    max-width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-top: 40px;
    margin-bottom: 40px;
  
  }
  .hero h1{
    font-size: 42px;
  }
  .hero h2{
    font-size: 30px;
  }
  .hero-img{
    max-width: 500px;
    border-radius: 12px;
  }

  /* Swiper */

  .swiper-container{
    width: 100%;
    margin: 20px auto;
  }
}

@media only screen and (max-width: 1024px){

  /* Nav Bar */

  .nav-button{
    visibility: visible;
    opacity: 1;
  }

  .nav-button{
    position:absolute;
    display: flex;
    right: 0px;
    top:0px;
    padding: 10px;
    font-size: 16px;
    background-color: rgb(5, 83, 5);
    color: white;
    border: none;
    border-radius:2px;
    margin-top: 40px;
    margin-right: 40px;
    z-index: 2;
  }

  .nav-items{
    position: fixed;
    top: 0;
    left: 0;
    height: 340px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: white;
    transition: .6s;
    transform: translateY(-100vh)
  
  }

  .nav-title-responsive{
    visibility: visible;
    display: inline-block;
    margin-bottom: 30px;
  }

  .responsive_nav{
    transform: none;
  }

  /* Hero Section */

  .hero{
    max-width: 920px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 40px 5px;
  
  }

  .hero h1{
    font-size: 36px;
  }

  .hero h2{
    font-size: 26px;
  }

  .hero-img{
    max-width: 360px;
    border-radius: 12px;
  }

  .hero-text{
    width: 300px;
    padding: 10px;
    margin: 5px;
  }

  /* Swiper */
  
  .swiper-slide img{
    height: 360px;
  }

  .swiper-container{
    max-width: 100%;
    margin: 2px auto;
  }

  /* Why Us */

  .whyusItem{
    width: 250px;
  }

  .demo-bg {
    display: none;
  }
   /* faq */
  .faqs-secondary {
    padding: 0 2rem 0 2rem;
  }
  
}

@media(max-width:700px){
  .hero{
    text-align: center
  }
}

@media(max-width: 480px){
  .hero-img{
    max-width: 90%;
    border-radius: 12px;
  }

  .logo{
    font-size: 24px;
    margin-left: -20px;
  }

  .whyusItem{
    width: 90%;
  }

  .nav-button{
    margin-right: 16px;
    margin-top: 38px;
    padding: 7px;
    display: flex;

    
  }

  .hero-h1{
    font-size: 44px;
  }

  .contact-container{
    width: 90%;
  }
}